<h3 class="title">Générateur de Facts Personnalisées</h3>

<img class="imgCenter" src="../../../../assets/img/ask.gif" />

<mat-card class="mat-elevation-z3 card">
  <form [formGroup]="persoForm">
    <p>
      <mat-form-field appearance="legacy" class="fields" >
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastname"/>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy" class="fields" >
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstname"/>
      </mat-form-field>
    </p>
  </form>
</mat-card>

<button
  mat-button
  color="primary"
  class="mat-elevation-z3 buttonGenerate"
  (click)="getPersoFacts()"
  *ngIf="persoForm.value['firstname'] !== '' && persoForm.value['lastname'] !== ''"
>
  Be the Hero
</button>

<ul>
  <app-fact-line
    *ngFor="let fact of apiResult.value"
    [numFact]="fact.id"
    [factContent]="fact.joke"
  ></app-fact-line>
</ul>
