.title {
  text-align: center;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 20px;
}

.buttonGenerate {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
